html, body, input, select, textarea
{
    font-size: 1.05em;
}
table {
    font-family:Arial;
    color:#666;
    font-size:14px;
    margin:20px;
    border:#ccc 1px solid;
    border-radius:3px;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th:first-of-type{
    width: 30px;
}
table tr td:first-of-type{
    width: 100px;
}
table tr {
    text-align: left;
}
table td {
    text-align: left;
}

.error {
    color: #a94442;
    font-size: 14px;
    font-weight: bold;
}
.panel {
    border: 1px solid #dddddd;
}
.input-group {
    margin-bottom: 10px;
}
.btn-grey{
    color: #c0c0c0;
}
.btn-grey:hover{
    color: #257a9a;
}
.btn-blue{
    color: #257a9a;
}
.btn-blue:hover{
    color: #909090;
}
.block-update-card {
    height: 100%;
    border: 1px #FFFFFF solid;
    width: 700px;
    float: left;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    box-shadow: 1px 1px 8px #d8d8d8;
    background-color: #FFFFFF;
    height: 220px;
}
.block-update-card .h-status {
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .v-status {
    width: 5px;
    height: 80px;
    float: left;
    margin-right: 5px;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .update-card-MDimentions {
    width: 80px;
    height: 80px;
}
.block-update-card .update-card-body {
    margin-top: 10px;
    margin-left: 5px;
}
.block-update-card .update-card-body h4 {
    color: #257a9a;
    font-weight: bold;
    font-size: 13px;
}
.block-update-card .update-card-body p {
    color: #737373;
    font-size: 12px;
}
.block-update-card .update-card-body ul {
    color: #737373;
    font-size: 12px;
}
.block-update-card .card-action-pellet {
    padding: 5px;
}
.block-update-card .card-action-pellet div {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #dddddd;
}
.block-update-card .card-action-pellet div:hover {
    color: #999999;
}
.block-update-card .card-bottom-status {
    color: #a9a9aa;
    font-weight: bold;
    font-size: 14px;
    border-top: #e0e0e0 1px solid;
    padding-top: 5px;
    margin: 0px;
}
.block-update-card .card-bottom-status:hover {
    background-color: #dd4b39;
    color: #FFFFFF;
    cursor: pointer;
}
.caregiver-card-features {
    color: #31aaa0;
    margin-left: 10px;
    margin-bottom: 10px;
}